* {
	box-sizing: border-box;
}


body {
	font-family: "Calibri";
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.body-1 {
	display: flex;
	flex-wrap:wrap;
}

.feature-wrapper {
	display: flex;
	flex-wrap:wrap;
	padding: 30px 5%;
	background-color: #f7f7f7;
	text-align: center;
	margin: 0 auto;
}

.feature{
	width: 30%;
	margin: 0 auto;
	text-align: center;
	float: left;
	padding: 0 5%;
	color: grey;
}

.feature h3 {
	padding-bottom: 15px;
}

.feature .fa {
	padding-bottom: 15px;
}

.feature:hover{
	position: relative;
	bottom: 15px;
	color: black;
	transition: all 0.5s;
}

.info-wrapper {
	display: flex;
	flex-wrap:wrap;
	background-color: white;
	border-bottom: 2px solid #eee;
}

.info {
	width: 50%;
	margin: 0 auto;
	float: left;
	padding: 0 5%;
}

.info-image{
	padding-bottom: 0px;
	
	z-index: 1;
}

.info-image img{
	max-width: 100%;
	height: auto;
	bottom: 0px;
	left: 0px;
}

.info-text {
	text-align: left;
	padding: 70px 50px;
	z-index: 2;
}

.info-text h2, .info-text p {
	padding-bottom: 20px;
	padding-right: 15%;
}

.info-text p, .feature p {
	font-size:14px;
	font-weight: bold;
}

.body-1 {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.body-1 .btn{
	background-color: #5dd6b0 ;
	border: none;
	color: white;
	padding: 10 30px;
	text-align: center;
	display: inline-block;
	border-radius: 60px;
}

.body-1 .btn:hover{
	box-shadow: 
	0 2.8px 2.2px #c7e1d9,
	0 6.7px 5.3px #c7e1d9,
	0 12.5px 10px #c7e1d9
	;
	transition: all 0.8s;
}

.body-2 {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
	background-color: #fbfffe;
}

.title-info{
	padding: 50px 0;
	margin: 0 auto;
	width: 70%;
}

.title-info h2{
	margin-bottom: 15px;
	color:#3e3e3e  ;
}

.title-info p{
	margin-bottom: 15px;
	color: #757575 ;
}

.btn{
	background-color: #5dd6b0 ;
	border: none;
	color: white;
	padding: 10 30px;
	text-align: center;
	display: inline-block;
	border-radius: 60px;
}

.btn:hover{
	box-shadow: 
	0 2.8px 2.2px #c7e1d9,
	0 6.7px 5.3px #c7e1d9,
	0 12.5px 10px #c7e1d9
	;
	transition: all 0.8s;
}

.hows{
	display:flex;
	margin-bottom: 50px;
}
.how{
	width: 30%;
	margin: 0 auto;
	text-align: center;
	box-shadow: 
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 12.5px 10px rgba(0, 0, 0, 0.06)
	;
	border-radius: 3px;
}

.how:hover{
	margin-top: -15px;margin-bottom: 15px;
	transition: all 0.5s;
}

.how img{
	max-width: 90%; 
	margin: 15px auto;
	display: block;
}

.how h4{
	max-width: 90%; 
	margin:15px auto;
	color:#3e3e3e  ;
	text-align: center;
}

.how p{
	max-width: 90%; 
	margin:15px auto;
	margin-bottom:25px;
	font-size:14px;
	color: #757575 ;
}

.body3 {    
	text-align: center;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.body3-content {
	background-color:#1B8381;
	color: #fff;
	padding-bottom: 50px;
}

.body3-content2 {
  padding-bottom:50px;
}

.content1{
	padding-top:50px; 
	line-height:10px; 
	padding-bottom: 10px;     
}

.content2 {    
	line-height:5px;
	padding-bottom: 30px; 
}

.content1 p{
	font-size: 15px; 
}

.content2 p{    
	font-size: 15px;
}

.btn-News{    
	background-color:#1B8381;
	color:#fff;
	border: 1px whitesmoke;
	width: 180px;
	height: 35px;
	font-size: 15px;
	transition: all 1.5s;
	border-radius: 8px;
}

.btn-News:hover{
	background-color:white ;
	transition: all 0.5s;
	font-size: 16px;  
	width: 200px;
	color:#1B8381; 
}

.btn-News:focus {
	border: none;
	outline: none;
}

.body3-content2 {
	color: black;
	background-color:rgb(255, 255, 255);   
}

.btn-content  {
	width: 200px;
	height: 35px;
	border-radius: 8px;
	background-color: #5dd6b0 ;    
	color: white;    
	display: inline-block;
	border: 0px;
	font-size: 12px;
	margin-bottom:5px;
}

.btn-content:hover{
	box-shadow: 
	0 3px 2.2px #c7e1d9,
	0 7px 5.3px #c7e1d9,
	0 12px 10px #c7e1d9;
	transition: all 1.5s;
	border: none;
	font-size:13.5px;
}

.btn-content:focus{
	border: none;
	outline: none;
}

.btn-content:active {
	position: relative;
	top: 5px;
}


.animasi-teks {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.main-page {
	margin-top: 65px;
}

.main {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;

}

.photo-container{
	display: flex;
	width: 100%;
	height: auto;
	background: url(https://www.mint.com/sites/default/files/styles/mint_hero_image/public/horizon_2.jpg?itok=mc48_Udr);
	background-size: cover;
	flex-direction: column;
	align-items: center;
}  

#headline{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}  

#breakline1, #breakline2{
	font-size: 50px;
	color: white;
	font-family: Helvetica;
	font-weight: 900;
	text-transform: uppercase;
}

#sub-headline{
	color: white;
	font-size: 20px;
	font-weight: 300;
	height: 28px;
	margin-bottom: 20px;
}   

.main a{
	text-decoration: none;
	color: white;
}    

.sign-up-free{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 800;
	cursor: pointer;
	border: solid 1px rgb(252, 137, 16);
	border-radius: 2px;
	background-color: rgb(252, 137, 16);
	line-height: 15px;
	padding: 12px;
	width: 184px;
}

.sign-up-free .fa-lock{
	font-size: 12px;
	padding-right: 4px;
}

.sign-up-free:hover{
	background-color: #c25400;
	border: 1px solid #c25400;
	transition-duration: .25s;
	transition-timing-function: linear;
	touch-action: manipulation;
}

.chat-btn{
	background-color: rgba(243, 243, 243, 0.0980392);
	padding: 12px 13px;
	font-size: 13.5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.fa-comment-o{
	color: white;
	padding-left: 4px;
	font-size: 16px;

}

.chat-btn:hover{
	text-decoration: underline;
	color: white;
}

header .container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
}

header {
  max-width: 1170px;
  height: 65px;
  width: 100%;
  position :fixed;
  padding: 0 15px;
  top: 0;
  z-index: 10;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo {
  height: 59px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.menu-icon {
  color: white;
  float: right;
  padding: 21px 0;
  display: none !important;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
	display: flex;
	flex-wrap:wrap;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

footer .container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.logo-footer {
  height: 70px;
}

footer p {
	color: white;
	font-size: 13px;
}
